html {
	height:1500px;
	
}
#body{
}

body {
margin:0;
background-color: #a956dc;
overflow: auto;
}
a {
	color:black;
	
}
h1 {text-align: center;
	margin-top: 5px;
	padding:0;
	margin-bottom:0;
	font-size:3vh;
}
h2 {
	margin-bottom:0%;
	text-align: center;
	font-size:30px;
}
h3 {text-align: center;
	margin: 10px;
}
h3 {text-align: center;}
p {}
div {}
main {text-align: center;
	overflow: auto;
}

main p {
	font-size:calc(1em * 1.1);
	padding-left:10%;
	padding-right:10%;
	letter-spacing: 1px;
}
main {
	position: absolute;
	width:50%;
	height:750px;
	top:10%;
	border-radius: 30px;
	box-shadow: inset 12px 12px 16px 0 rgba(0, 0, 0, 0.3),
    inset -8px -8px 12px 0 rgba(255, 255, 255, 0.2);
	margin-right:25%;
	margin-left:25%;
	padding-top:1rem;
	background-color:#be80e5;
}
.dropdown {
  border-radius: 30px;
  font-weight:bold;
  display: none;
  margin-left:10px;
  margin-right:10px;
  text-align:center;
  background-color:#5e1c88;
  color:white;
  cursor : pointer;
  padding:10px;

}
.dropdown2 {
  border-radius: 30px;
  font-weight:bold;
  display: none;
  margin-left:10px;
  margin-right:10px;
  text-align:center;
  background-color:#5e1c88;
  color:white;
  cursor : pointer;
  padding:10px;

}
.contents {
	box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.2);
	border-radius: 30px;
	top:10%;
	left:8%;
	padding:10px;
	position: absolute;
	width: 275px;
	background-color:#5e1c88;
	padding-bottom:15px;
	overflow: auto;
}
.contents p.contenttitle {
	text-align:center;
	color:white;
	margin-bottom:0;
}
.contents a {
	display:block;
	font-size:14px;
	color:white;
	margin-left:10px;
	padding-top:5px;
	padding-bottom:5px;
}
.contents a.subcontent {
	font-size:12px;
	color:white;
	margin-left:40px;
	padding-bottom:5px;
	
}
.infobox {
	box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.2);
	border-radius: 30px;
	padding:10px;
	top:10%;
	right:8%;
	position: absolute;
	width: 295px;
	background-color:#5e1c88;
	padding-bottom:15px;
	overflow: auto;
	
}
.infobox td {
	text-align:left;
	
}
.infobox h4 {
	color:white;
	text-align:center;
	background-color:#ae6b00;
	margin:0;
	font-size:12px;
	margin-right:5px;
	margin-left:5px;
	margin-top:15px;
	padding-top:5px;
	padding-bottom:5px;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.6);
	border-radius: 30px;
	
}
.infobox p {
	color:white;
	margin:0;
	margin-left:5px;
	margin-top:2px;
	font-size:12px;
}
.infobox a {
	color:white;
	
}
.infobox p.date {
	display:block;
	text-align:center;
	margin:0;
	
}
.infobox h6 {
	color:white;
	text-align:center;
	margin:5px;
	margin-top:5px;
	font-size:13px;
	
}
.infobox h5.title {
	color:white;
	text-align:center;
	font-size:20px;
	margin:5px;
}
.infobox img {
	border-radius: 30px;
	display: block;
	width: 259px;
	margin-left: auto;
	margin-right: auto;
}
/* Nav */
.toppestnav {
	background-color: #5e1c88;
	overflow: hidden;
	box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.2);
	border-radius: 30px;
	margin:5px;
	padding-left:4rem;
}
.toppestnav a {
	float: left;
	text-align: center;
	padding: 10px 2vw 10px;
	text-decoration: none;
	color: white;
	font-size:16px;
	font-weight:600;
	font-family:Helvetica;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.6);
}
@media only screen and (max-width: 500px){
	body {
		height:1100px;
		
	}
	.toppestnav {
		display: flex;
    justify-content: center;
	flex-wrap:wrap;
	margin-right:2%;
	padding-left:10px;
	}
	.toppestnav a {
	font-size:13.5px;
	width:75px;
	}
	.infobox {
		display:none;
		top:20%;
		right:0;
		width: 100%;
		margin:0;
		
	}
	main {
		margin-right:0%;
		margin-left:0%;
		top:9rem;
		width:auto;
	}
	h2 {
		margin-right:0%;
	}
	.dropdown {
		display: block;
		margin-top:5%;
	}
	.dropdown2 {
		margin-top:5%;
	}
	.contents {
		display:none;
	}
	.footer {
		display:none;
	}
}			
.footer {
	text-align: center;
	position:fixed;
	bottom:0;
	width:99%;
	height:40px;
	margin:5px;
	padding-bottom:15px;
	padding-top:15px;
	color: black;
	border-radius: 30px;
	background-color: #5e1c88;
	box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.2);
}		
.footerbtm {
	font-size:10px;
	color: white;
}
.footertxt a {
	font-size:12px;
	text-decoration:none;
	color: white;
}
.compendiumpage {
	text-align: center;
	
}